
.landing{
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true);
    margin-left: 10%;
    margin-right: 10%;
    height: 80vh;
    color: white;
}
#landing{
    padding-top: 10%;
    padding-left: 30%;
}
#logo{
    padding-left: 15%;
}
#welcome{
    padding-left: 10%;
    font-weight: 500px;
}
#mouse{
    padding-left: 140px;
    padding-top: 60px;
}

/* About section */
.about h1{
    padding-left: 45%;
    font-size: 23px;
}
.about p{
    padding-left: 20%;
}
#one{
    padding-left:35% ;
}
#two{
    padding-left: 28%;
}
#three{
    padding-left: 42%;
}

/* services section */
.services{
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    height: 50vh;
    margin-right: 10%;
    color: white;
    margin-left: 9.5%;
}
#services{
    padding-top: 8%;
}
#services h1{
    font-size: 170%;
    margin-left: 40%;
}
#p1{
    margin-left: 13%;
}
#p2{
    margin-left: 25%;
}
#p3{
    margin-left: 22%;
}

/* what we do section */
.row{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.doing h1{
    font-size: 170%;
    margin-left: 45%;
} 
.hide{
    display: none;
}

/* portfolio section */
#img1:hover{
    opacity: 0.5;
}

.portfolio h1{
    font-size: 170%;
    margin-left: 45%;
}
*{
    box-sizing: border-box;
}
#img1{
    justify-content: space-around;
    width: 300px;
    margin-left: 150px;
    margin-right: 20px;
}#img2{
    justify-content: space-around;
    width: 300px;
    margin-right: 10px;
}#img3{
    justify-content: space-around;
    width: 300px;
    margin-right: 00px;

}#img4{
    justify-content: space-around;
    width: 300px;
    margin-right: 150px;
}

#img5{
    justify-content: space-around;
    width: 300px;
    margin-left: 150px;
    margin-right: 20px;
}#img6{
    justify-content: space-around;
    width: 300px;
    margin-right: 10px;
}#img7{
    justify-content: space-around;
    width: 300px;
    margin-right: 00px;

}#img8{
    justify-content: space-around;
    width: 300px;
    margin-right: 150px;
}

/* contact section */
.contact h1{
    font-size: 170%;
    margin-left: 45%;
}
.contact{
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true);
    height: 60vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: white;
}
#name{
    background-color: transparent;
    width: 300px;
    border: 1px solid white;

}
#email{
    background-color: transparent;
    width: 300px;
    margin-left: 30px;
    border: 1px solid white;
    color: white;
}
#textarea{
    background-color: transparent;
    width: 700px;
    margin-left: 30px;
    border: 1px solid white;
    padding-bottom: 130px;
}

/* social section */
.social{
    padding-top: 50px;
}
#social1{
    padding-left: 500px;
}
#social9{
    padding-right: 500px;
}